*{
    margin: 0;
    padding: 0;
}

.s1{
    height: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(180deg, black , rgb(52, 49, 49), rgba(0, 0, 0, 0.567));
}
.d1{
    margin-top: 30px;
    height: 90%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    

}

.cont{
    height: 700px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.662);
    display: flex;
}
.cont-img{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}
.div-p{
    width: 100%;
    height: 50px;
    
    align-items: center;
    display: flex;
    justify-content: center;
}
.div-p p {
    font-size: 30px;
    font-weight: 600;
}


#gra1{
    scale: 0.8;
}
